
@{
    ViewBag.Title = "Utility";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
    <th>Name</th>
    <th>Update/Remove</th>
    </thead>
    <tbody>
        @foreach (var furniture in ViewBag.Utilities)
        {
            <tr>
                <td>@furniture.Name</td>
                <td>
                    @using (Html.BeginForm(actionName: "Edit", controllerName: "Utility", method: FormMethod.Get,
                        routeValues: new { id = furniture.UtilityId }))
                    {
                        <button type="submit" class="btn btn-link col-lg-3">Update</button>
                    }

                    @using (Html.BeginForm(actionName: "Delete", controllerName: "Utility", method: FormMethod.Post,
                        routeValues: new { id = furniture.UtilityId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="btn btn-link col-lg-3">Remove</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

@using (Html.BeginForm(actionName: "Index", controllerName: "Room", method: FormMethod.Get))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Back to rooms</button>}

@Html.ActionLink("Add utility type", "New")